.root {
	display: flex;
	justify-content: center;
	position: relative
}

.descriptionContainer {
	width: 30%;
	padding: 20px;
}

.imageContainer {
	width: 70%;
	max-width: 500px
}

.imageContainer>* {
	width: 100%
}

.detailsList {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 20px;
}

.listItem {
	margin-top: 20px
}

.listItem>* {
	color: #FFF;
	font-size: 20px;
	text-decoration: none;
}

.copyBtn {
	background-color: var(--accent-color);
	color: var(--reversed-text-color);
	border: 1px solid var(--accent-color);
	border-radius: var(--border-radius);
	cursor: pointer;
	font-size: 20px;
	padding: 1em 2em;
	}
	
.copyBtn:hover {
	background-color: var(--accent-color-darken);
}