.App {
	text-align: center;
}

.header {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.link {
	position: absolute;
	top: 30px;
	left: 30px;
	color: var(--primary-text-color);
	text-decoration: none;
	transition: .5s ease;
}

.link:hover {
	color: var(--accent-color-darken);
}